.split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 0;
    -fx-background-color: #151719;
}

.login-pane .text-field {
    -fx-pref-width: 200px;      /* фиксированная ширина */
    -fx-max-width: 200px;
    -fx-min-width: 150px;

    -fx-padding: 8px 12px;      /* внутренние отступы: верх/низ = 8px, лево/право = 12px */

    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: #444;
    -fx-background-color: #222;
    -fx-text-fill: white;
}

/* Опционально: стиль при фокусе */
.login-pane .text-field:focused {
    -fx-border-color: #5a8bff;
    -fx-border-width: 2px;
}

.full-bg-vbox {
    -fx-background-image: url('bg.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.color-cell {
    -fx-background-radius: 10px;
}
